.accountInformation {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  .content {
    width: 700px;
    margin: auto;
  }
  .bottomButton {
    text-align: center;
  }
}

.selectWorksheet {
  height: 100%;
  width: 100%;
  .checkboxGroup {
    width: 160px;
    height: 100%;
    float: left;
    display: inline-block;
  }

  .checkItem {
    padding: 5px 0px;
  }
  .checkButton {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 0px;
  }

  .dataTable {
    height: 100%;
    width: calc(~"100% - 160px");
    float: left;
  }
}
