.accountInformation {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  .content {
    width: 700px;
    margin: auto;
  }
  .bottomButton {
    text-align: center;
  }
}

.selectWorksheet {
  height: 100%;
  width: 100%;
  .checkboxGroup {
    width: 160px;
    height: 100%;
    float: left;
    display: inline-block;
  }

  .checkItem {
    padding: 5px 0px;
  }
  .checkButton {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 0px;
  }

  .dataTable {
    height: 100%;
    width: calc(~"100% - 160px");
    float: left;
  }
}

.basicInformation {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  .formField {
    width: 500px;
    margin: auto
  }
  .sheetTable {
    table-layout: auto;
    white-space: nowrap;
    font-size: 14px;
    thead {
      text-align: center;
    }
    td {
      border: 1px solid #ccc;
      width: 150px;
      padding: 5px;
      input {
        padding: 0px;
        height: 15px;
        border: none;
        outline: none;
        font-size: 14px;
      }
      :global(.ant-form-item) {
        margin-bottom: 0px;
      }
    }
  }
}

.synchronizationCycle {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  .formField {
    width: 450px;
    margin: auto;
    :global(.ant-row-flex) {
      margin-bottom: 20px !important;
    }
    :global(.ant-row) {
      margin-bottom: 20px !important;
    }
    .divider {
      margin: 0px 10px;
    }
    :global(.ant-time-picker-icon) {
      display: none;
    }
  }
}
