<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ElephantBI客户端</title>
</head>
<body>
  <div id="root"></div>
  <script>
    /****** env var ******/
    window.env = 'ENV';
    //window.backendUrl = 'BACKEND_URL'
    //widnow.clientBackendUrl = 'CLIENT_BACKEND_URL'
    /****** env var ******/

    window.backendUrl = 'https://api.flexceed.com' //dev test
    window.clientBackendUrl = 'http://visionpsn.flexceed.backend:5001' //dev test

    /****** for host******/
    window.baseurl = window.backendUrl;
    window.newHost = widnow.clientBackendUrl;
    /****** for host ******/
  </script>
</body>
</html>